
/**************************************************************************************/
/*
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/**************************************************************************************/

#phocagallery-module-ri div.mosaic img
{
	_width: 170px !important;
	_height: 170px !important;
	max-width: none;
	max-height: none;	
}

#phocagallery-module-ri div.mosaic img
{
	box-shadow: 1px 1px 2px #9CC0CC;
	border-radius: 20px;
}