/***************************************************************************************/
/*
/*		Designed by 'AS Designing'
/*		Web: http://www.asdesigning.com
/*		Web: http://www.astemplates.com
/*		License: GNU/GPL
/*
/**************************************************************************************/

/**************************************************************************************/
/**************************************************************************************/
/*   Elements
/**************************************************************************************/
/**************************************************************************************/

      
body
{
	
	color: #104160;
	background-image: url("../images/bg.body.png");	
}


a
{
	color: #003b7b;
        font-family: serif;
        
}

a:hover,
a.selected
{
	color: #00648A;
}

hr
{
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}


.wrapper-inner
{
	background: url("../images/styles/gray/bg.footer1.png") no-repeat scroll center bottom rgba(0, 0, 0, 0);
}

.body__home .wrapper-featured-top
{
	background-image: url("../images/styles/gray/bg.wrapper.top.png");
}

.body__home .wrapper-featured-bottom
{
	background-image: url("../images/styles/gray/bg.wrapper.bottom.png");
}

.wrapper-header
{
	background-image: url("../../as002059/images/styles/black/bg.header.png");
}

/**************************************************************************************/
/*   Forms																			  */

legend
{
	color: #333333;
	border-bottom: 1px solid #e5e5e5;
}

legend small
{
	color: #999999;
}

textarea.invalid
{
	border: 1px solid #d6610b;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input
{
	background-color: #f7f7f7;
	border: 1px solid #d4d4d4;
	-webkit-box-shadow: 0px 1px 0px #CCCCC;
	-moz-box-shadow: 0px 1px 0px #CCCCC;
	box-shadow: 0px 1px 0px #CCCCC;
	color: #999999;	
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus
{
	border-color: #e1e1e1;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus
{
	outline: thin dotted #333;
}


select
{
	border: 1px solid #bbb;
	background-color: #ffffff;
}



.label-info,
.badge-info
{
	background-color: #929292;
}

/**************************************************************************************/
/*   Headings and Titles															  */

h1,
h2,
h3,
h4
{
	color: #333	
}

#content-row #component h1,
#content-row #component h2,
#content-row #component h3
{
    background-color: #e1e1e1;
    color: #FFFFFF;
}

.simple-title #content-row #component h1,
.simple-title #content-row #component h2,
.simple-title #content-row #component h3
{
    color: #e1e1e1;
}


h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small
{
	color: #999999;
}


h1,
h2.item_title,
.item__featured .item_title,
.module_title,
.page-category .item_title,
.page_header h2,
.category_title h2,
.item_title
{
	color: #808080;
}

.module_title
{
	color: #808080;
}


/**************************************************************************************/
/*   Images																			  */


.mod-custom img,
.item_img img,
.category_img img,
.item_fulltext img,
.random-image img,
aside .img-intro__left img,
aside .img-intro__right img
{
	background-color: #FFFFFF;
	box-shadow: 1px 1px 2px #666;
}

/*------------------------------------------------- phoca gallery -------------------------------------*/

#phocagallery-module-ri div.mosaic img
{
	box-shadow: 1px 1px 2px #666 !important;
}

/**************************************************************************************/
/*   Captions																		  */



/**************************************************************************************/
/*   Lists																			  */


.categories-module li a,
.archive-module li a
{
	color: #626262;	
}

.categories-module li a:hover,
.archive-module li a:hover
{
	color: #F93;
}


.moduletable ul li
{
}

.moduletable ul.item-list li
{
	background: url('../images/liststyle.1.png') left 11px no-repeat;
}

.tooltip
{
	background-color: #161616;
	color: #fff;
}

/**************************************************************************************/
/*   Buttons																		  */


#featured-row a.btn,
#featured-row .btn,
#featured-row a.readmore,
#featured-row a.button,
#featured-row .readmore,
#footer-row a.btn,
#footer-row .btn,
#footer-row a.readmore,
#footer-row .readmore,
#footer-row .button,
#aside-row-1-left  .btn,
#aside-row-1-left  a.btn,
#aside-row-1-left  a.readmore,
#aside-row-1-left  .readmore,
#aside-row-1-left  .button,
#aside-row-2-right  a.btn,
#aside-row-2-right  .btn,
#aside-row-2-right  a.readmore,
#aside-row-2-right  .readmore,
#aside-row-2-right  .button
{
	color: #e1e1e1;
	background-color: #fff;
}

#featured-row a.btn:hover,
#featured-row .btn:hover,
#featured-row a.readmore:hover,
#featured-row a.button:hover,
#featured-row .readmore:hover,
#footer-row a.btn:hover,
#footer-row .btn:hover,
#footer-row a.readmore:hover,
#footer-row .readmore:hover,
#footer-row .button:hover,
#aside-row-1-left  a.btn:hover,
#aside-row-1-left  .btn:hover,
#aside-row-1-left  a.readmore:hover,
#aside-row-1-left  .readmore:hover,
#aside-row-1-left  .button:hover,
#aside-row-2-right  a.btn:hover,
#aside-row-2-right  .btn:hover,
#aside-row-2-right  a.readmore:hover,
#aside-row-2-right  .readmore:hover,
#aside-row-2-right  .button:hover
{
	color: #e1e1e1;
	background-color: #999;
}

.btn,
a.btn,
a.readmore,
.readmore,
.btn_info,
.btn-info,
.btn-group button.btn,
.mod-newsflash a.readmore,
.contentpane .button
{
	color: #fff ;
	background-color: #e1e1e1;
}

.readmore a
{
	color: #fff;
}



.btn:hover,
a.btn:hover,
.btn_info:hover,
.btn-info:hover,
.btn_info:active,
.btn-info:active,
.btn_info.active,
.btn-info.active,
.btn_info.disabled,
.btn-info.disabled,
.btn_info[disabled],
.btn-info[disabled],
.btn-primary:hover,
.btn_primary:hover,
.btn-primary:active,
.btn_primary:active,
.btn-primary.active,
.btn_primary.active,
.btn-primary.disabled,
.btn_primary.disabled,
.btn-primary[disabled],
.btn_primary[disabled],
.mod-newsflash a.readmore:hover,
a.readmore:hover,
.readmore:hover,
.contentpane .button:hover,
#component a.btn:hover,
#component .btn_info:hover,
#component .btn-info:hover,
#component .btn_info:active,
#component .btn-info:active,
#component .btn_info.active,
#component .btn-info.active,
#component .btn_info.disabled,
#component .btn-info.disabled,
#component .btn_info[disabled],
#component .btn-info[disabled],
#component .btn-primary:hover,
#component .btn_primary:hover,
#component .btn-primary:active,
#component .btn_primary:active,
#component .btn-primary.active,
#component .btn_primary.active,
#component .btn-primary.disabled,
#component .btn_primary.disabled,
#component .btn-primary[disabled],
#component .btn_primary[disabled],
#component .mod-newsflash a.readmore:hover,
#component a.readmore:hover,
#component .contentpane .button:hover,
#content-row-4 a.btn:hover,
#content-row-4 .btn_info:hover,
#content-row-4 .btn-info:hover,
#content-row-4 .btn_info:active,
#content-row-4 .btn-info:active,
#content-row-4 .btn_info.active,
#content-row-4 .btn-info.active,
#content-row-4 .btn_info.disabled,
#content-row-4 .btn-info.disabled,
#content-row-4 .btn_info[disabled],
#content-row-4 .btn-info[disabled],
#content-row-4 .btn-primary:hover,
#content-row-4 .btn_primary:hover,
#content-row-4 .btn-primary:active,
#content-row-4 .btn_primary:active,
#content-row-4 .btn-primary.active,
#content-row-4 .btn_primary.active,
#content-row-4 .btn-primary.disabled,
#content-row-4 .btn_primary.disabled,
#content-row-4 .btn-primary[disabled],
#content-row-4 .btn_primary[disabled],
#content-row-4 .mod-newsflash a.readmore:hover,
#content-row-4 a.readmore:hover,
#content-row-4 .contentpane .button:hover,
#footer-row a.btn:hover,
#footer-row a.readmore:hover,
#footer-row .button:hover
{
	background-color: #999;
}


/**************************************************************************************/
/*   Pagination																		  */


.pagination ul li a.pagenav:hover
{
	color: #626262;
}

.pagination ul li .pagenav
{
	color: #555555;
}

.pagination ul li span.pagenav
{
	color: #555555;
}

.pagination ul li a.pagenav
{
	color: #ffffff;
}

.pagination ul li.num span.pagenav
{
	color: #626262;
}


/**************************************************************************************/
/*   BlockNumbers																	  */


span.blocknumber,
span.blockchar
{
	background-color: #999;
	border: 0px solid #ddd;
	color: #fff;
}

#footer span.blocknumber
{
	background-color: #ffffff;
}

span.blocktitle
{
	color: #929292;
}

span.blocknumber.blue
{
	background-color: #2594BA;
}
/**************************************************************************************/
/*   Toggling																		  */


.toggle_content
{
	background-color: #FDFDFD;
	border: 1px solid #DEDEDE;
	color: #121212;	
}

/**************************************************************************************/
/*   Searching																		  */


#mod-finder-searchword
{
	border: 1px solid #ebebeb;
}

/**************************************************************************************/
/*   Modal																			  */


/**************************************************************************************/
/*   Newsflash																		  */



.mod-newsflash-adv__links .item_content
{
	background-color: #e9e9e9;	
}

.mod-newsflash-adv__links .item_content ul li a:hover
{
	color: #929292;
}


.mod-newsflash-adv__links a.readmore:hover
{
	color: #929292;
}

.mod-newsflash-adv__links .item_content ul li a,
.mod-newsflash-adv__links.support .item_introtext
{
	color: #7F7F7F;
}


/**************************************************************************************/
/*   Acymailing																		  */



/**************************************************************************************/
/*   Back to Top																	  */


#back-top a
{
	color: #626262;
}

#back-top span
{	
	background: url('../images/styles/gray/up.arrow.png') no-repeat center center;
	border: 3px solid #ffffff;
	background-color: transparent;
}

/**************************************************************************************/
/*   Gallery																			*/															  

.page-gallery .well
{
	box-shadow: 0 0px 2px 0px #CCCCCC inset;
}

.page-gallery .item_img img
{
	box-shadow: 1px 1px 2px #666;
}

.page-gallery .item_title a
{
	color:#fff;
}

.page-gallery .item_title a:hover
{
	color:#909090;
}


.page-gallery .item_more a
{
	color:#fff;	
}

.page-gallery .item_more a:hover
{
	color:#909090;
}


/**************************************************************************************/
/*   Testimonials																	  */

blockquote
{
	background-image: url('../images/styles/black/blockquote.png');
}


.blockquote
{
	background-image: url('../images/styles/black/blockquote.png');
}


blockquote small
{
	color: #999999;
}

blockquote.pull-right
{
	border-right: 5px solid #eeeeee;
}


/**************************************************************************************/
/*   General
/**************************************************************************************/
/**************************************************************************************/


.muted
{
	color: #929292;
}

.menudesc
{
	border-bottom: 1px dotted #ccc;
}


/**************************************************************************************/


/**************************************************************************************/
/*   Header
/**************************************************************************************/
/**************************************************************************************/


/**************************************************************************************/
/*   Header Row		  																  */



#header-row #logo a
{
	color: #909090;	
}

#header-row .logo a:hover
{
	color: #fff;
}


/**************************************************************************************/
/*   Slider Row		  																  */

f


/**************************************************************************************/
/*   Breadcrumb Row		  															  */


#breadcrumbs-row .moduletable .breadcrumb,
#breadcrumbs-row .moduletable .mod-custom
{
	background-color: #e1e1e1;
	color: #fff;
}

#breadcrumbs-row .breadcrumb a
{
	color: #000;
}

#breadcrumbs-row .breadcrumb a:hover
{
	color: #fff;
}

/**************************************************************************************/
/*   Featured Row		  															  */


.body__home #featured-row,
#featured-row .container
{
	background-color: white;
	//background-image: url(../images/styles/black/bg.featured.png);
}


#featured-row .mod-newsflash .item img, 
#featured-row .mod-custom img 
{
    border: 15px solid #FFFFFF;
}




#featured-row p,
#featured-row h3 a,
#featured-row h4 a,
#featured-row h1,
#featured-row h2,
#featured-row h3,
#featured-row h4
{
	color: #fff;
}


#featured-row .mod-newsflash:hover .readmore
{
	background-color: #999;
}

#featured-row .mod-newsflash:hover h2,
#featured-row .moduletable:hover .module_title,
#featured-row .moduletable:hover .newsflash-title,
#featured-row .mod-newsflash-adv .item:hover .item_title
{
	color: #999;
}


/**************************************************************************************/
/*   Header Bottom Row		  														  */


#header-bottom-row h2,
#header-bottom-row h3
{
    
    background-color: #ffffff;
    color: red;
    /*margin-left: -34px;*/
    width: 40%;
}


/**************************************************************************************/
/*   Content
/**************************************************************************************/
/**************************************************************************************/



.page-item ul li
{
	list-style-image: url("../images/liststyle.1.png");
}



.page-blog .category_desc p,
.page-category .category_desc p,
.page-category .items-row
{
	border-bottom: 1px solid #D4D4D4;
}

.item_info_dl dd
{
	border-right: 1px solid #B3B3B3;
}



/**************************************************************************************/
/*   Content Rows 		  															  */



#content-row-2 .moduletable-wrapper,
#content-row-3 .moduletable-wrapper
{
	border: 0px solid #eee;
        margin-top: -371px;
}


#content-row-4
{
	color: #fff;
}

#content-row-4 h1,
#content-row-4 h2,
#content-row-4 h3,
#content-row-4 h4,
#content-row-4 h5
{
	color: #fff;
}

#content-row-4 .moduletable-wrapper
{
	background-color: #e1e1e1;
}


#content-row-5 .moduletable h1,
#content-row-5 .moduletable h2,
#content-row-5 .moduletable h3
{
    background-color: #e1e1e1;
    color: #FFFFFF;
}

#content-row-5 .moduletable .item_title
{
	color: #e1e1e1;
}


#content-row-6 .moduletable.social li a
{
	color: #FFFFFF;
}

/**************************************************************************************/
/*   Blog Pages																		  */

.page-blog p.item_title
{
	color: #e1e1e1;
}

.page-blog .items-leading,
.page-blog .items-row
{
	border-bottom: 1px solid #D4D4D4;	
}

/**************************************************************************************/
/*   Category Pages																	  */

.page-category p.item_title
{
	color: #e1e1e1;
}

/**************************************************************************************/
/*   Archive Page																	  */

.page-archive .alert-info
{
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
}

/**************************************************************************************/
/*   Page 404																		  */


/**************************************************************************************/
/*   Contacts Page																	  */


#contact_map
{
	border: 1px solid #cbcbcb;	
}


/**************************************************************************************/
/*   Sidebars
/**************************************************************************************/
/**************************************************************************************/

.aside
{
	background-color: #F2F2F2;
	box-shadow: 0 0px 2px 0px #CCCCCC inset	
}

.aside .module_title
{
	color: #fff
}

#aside-row-1-left .moduletable,
#aside-row-2-right .moduletable
{
        /* margin-top: -50px; */
	background-color: #e1e1e1;
	
        border-radius: 20px;
	color: #fff;
}

#aside-row-1-left .moduletable a,
#aside-row-2-right .moduletable a
{
	color: #808080;
}

#aside-row-1-left .moduletable a.btn,
#aside-row-2-right .moduletable a.btn
{
	color: #e1e1e1;
}

#aside-row-1-left .moduletable .readmore a,
#aside-row-2-right .moduletable .readmore a
{
	color: #e1e1e1;
}

#aside-row-1-left .moduletable a:hover,
#aside-row-2-right .moduletable a:hover
{
	color: #ccc;
}


#aside-row-2-left .moduletable .module_title,
#aside-row-1-right .moduletable .module_title
{
	background-color: #e1e1e1;
    color: #FFFFFF;
}

#aside-row-2-left .moduletable .item_title,
#aside-row-1-right .moduletable .item_title
{
	color: #e1e1e1;
}


#aside-row-1-left .moduletable ul li,
#aside-row-2-right .moduletable ul li
{
	list-style-image: url(../images/styles/black/liststyle.5.png);
}

#aside-row-2-left .moduletable ul li,
#aside-row-1-right .moduletable ul li
{
	border-bottom: 1px solid #eee;
}

#aside-row-2-left .moduletable ul li:hover,
#aside-row-1-right .moduletable ul li:hover
{
	background-color: #f9f9f9;
}



#aside-right .moduletable ul.nav li,
#aside-left .moduletable ul.nav li
{
	list-style-image: url(../images/liststyle.1.png);
}

#aside-right .moduletable ul.nav li:hover,
#aside-left .moduletable ul.nav li:hover
{
	list-style-image: url(../images/liststyle.1.png);
}



/**************************************************************************************/
/*   News Show Pro GK4															  */
/**************************************************************************************/

/**************************************************************************************/
/*   Footer
/**************************************************************************************/


#footer-row
{
	background-color: #e1e1e1;
	color: #fff;
}

#footer-row h1
#footer-row h2
{
	color: #fff;
}

#footer-row h3,
#footer-row h4,
#footer-row h5
{
	color: #ffffff;	
}

#footer-row .footer-row-2 .moduletable-wrapper
{
	border-top: 1px solid #ccc;
}

#footer-row ul.nav li
{
	background-image:  url("../images/styles/black/liststyle.4.png");	
}

#footer-row ul.nav li a
{
	color: #ffffff;
}

#footer-row ul.nav li a:hover
{
	color: #3DB1D8;
}


#footer-row .workhours
{
	color: #4BBBE1;
}


#footer-row .moduletable.social li a
{
	color: #FFFFFF;
}

#footer-row .moduletable.social li a:hover 
{
	color: #FFFFFF;
}


#copyright-row
{
	background-color: #e1e1e1;	
	color: #ffffff;
	border-top: 1px solid #fff;
}

#copyright-row .container
{
	border-top: 1px solid #e1e1e1;
}


#copyright-menu li
{
	border-right: 1px solid #ffffff
}

#copyright-menu li a:hover
{
	color: #2594BA;
}

#copyright-menu li a,
#copyright-menu li.current a,
#copyright-menu li.active a
{
	color: #ffffff;
}

/* -------------------------------------------------- asmenu-------------------------------------- */

.navigation #as-menu ul.as-menu > li.active > a, 
.navigation #as-menu ul.as-menu > li:hover > a, 
.navigation #as-menu ul.as-menu > li.asHover > a, 
.navigation #as-menu ul.as-menu > li.current > a, 
.navigation #as-menu ul.as-menu > li.active > span, 
.navigation #as-menu ul.as-menu > li.asHover > span, 
.navigation #as-menu ul.as-menu > li.current > span
{
	background-color: #e1e1e1 !important;
}

.navigation #as-menu ul.as-menu ul
{
	background-color: #888 !important;
}

/*------------------------------------------------- as artslider -------------------------------------*/

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent, 
.camera_wrap .camera_pag .camera_pag_ul li:hover
{
	background-color: #888 !important;
	border-color: #fff !important;
}

.camera_wrap .camera_pag .camera_pag_ul li
{
	border-color: #888 !important;
}



